extends layout

block content
  h1= title

  div(style='margin-left:20px;margin-top:20px')

    h2(style='font-size: 1.5rem;') Items
    if items.length
      dl
        each item in items
          dt
            a(href=item.url) #{item.name}
          dd #{item.description}
    else
      p There are no Items.
